@model List<CategoryModel>

<div class="list-group">
    <a href="/product" class="list-group-item list-group-item-action @(ViewBag.SelectedCategory == null ? "active":"")">All</a>
    @foreach (var c in Model)
    {
        <a href="/product/@c.Url" class="list-group-item list-group-item-action @(ViewBag.SelectedCategory == c.Url.ToString() ? "active":"")">@c.Name</a>

    }
    
</div>


