@model List<CategoryDTO>

<div class="list-group">
    <a href="/product/list" class="list-group-item list-group-item-action @(ViewBag.SelectedCategory == null ? "active":"")">All</a>
    @foreach (var c in Model)
    {
        <a href="/product/list/@c.Id" class="list-group-item list-group-item-action @(ViewBag.SelectedCategory == c.Id.ToString() ? "active":"")">@c.Name</a>

    }
</div>
