@{
	var currentUrl = Context.Request.Path.ToString().ToLower();

}
<style>
	.icon:after {
		content: attr(value);
		font-size: 12px;
		color: black;
		border-radius: 50%;
		padding: 0 5px;
		position: relative;
		left: -8px;
		top: -10px;
		opacity: 0.9;
	}

	
</style>
<div class="container">

	<nav class="navbar m-1 p-2 d-block navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow p-0 ">
		<div class="row">
			<div class="col-md-3"> <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ShopApp</a></div>
			<div class="col-md-6">
				@if (!currentUrl.Contains("admin") && !currentUrl.Contains("account"))
				{
					<form id="searchNav" class="form-inline d-flex" action="/search" method="get">
						<input name="q" class="form-control mr-sm-2" type="text" placeholder="Products, categories and brands">
						<button class="btn btn-outline-success ms-2" type="submit">Search</button>
					</form>
				}

			</div>
			<div class="col-md-3">
				<ul class="navbar-nav justify-content-end">
					@if (User.Identity.IsAuthenticated)
					{
						@if (User.IsInRole("Admin"))
						{
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="ProductList">Admin</a>
							</li>
						}

					}
					@if (!User.IsInRole("Admin"))
					{
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index">
								<div class="icon" value="">
									<i class="fa-solid  fa-basket-shopping"></i>
								</div>
							</a>
						</li>
					}
					
					@if (User.Identity.IsAuthenticated)
					{
						
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Manage">@User.Identity.Name</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
						</li>
					}
					else
					{
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
						</li>
					}



				</ul>
			</div>
		</div>






		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>


	</nav>
</div>






