@model ProductAndCategories

<div class="row">
    <div class="col-2">
            @await Html.PartialAsync("_categories",Model.Categories)
            @await Html.PartialAsync("_search",Model.Categories)
    </div>
    <div class="col-10">
        <div class="mt-1 me-2 ms-2">
            @await Html.PartialAsync("_productList",Model.Products)
        </div>


    </div>

    @*@await Html.PartialAsync("_page",Model.PageInfo)*@
</div>




