@model ProductInfo
@{
    ViewData["Title"] = "Home";
}
<div class="container">

    @await Component.InvokeAsync("NavMainCategory")

    

    @await Html.PartialAsync("_carousel",Model.Products)
    <div class="row mt-2">
        @*@foreach (var category in Model.Categories)
        {
            <div class="col-md-4">
                <a href="/product/@category.Url">
                    <div class="card me-3 shadow p-3 mb-5 bg-white rounded">
                        <div class="card-body">
                            <h5 class="card-title">@category.Name</h5>
                        </div>
                    </div>
                </a>
            </div>
        }*@
    </div>

</div>





