@model ProductInfo
@{
    ViewData["Title"] = "Home";
}
<div class="container">

    <div class="p-0">
        <div class="d-flex justify-content-center ">
            <a class="nav-link text-dark me-2 ms-2" asp-area="" asp-controller="Product" asp-action="Index">Products</a>
            @*@foreach (var category in Model.Categories)
            {
                <a class="nav-link text-dark me-2 ms-2" asp-area="" asp-controller="Product" asp-action=@category.Url>@category.Name</a>
            }*@
            

        </div>


    </div>

    <hr class="m-1">

    @await Html.PartialAsync("_carousel",Model.Products)
    <div class="row mt-2">
        @*@foreach (var category in Model.Categories)
        {
            <div class="col-md-4">
                <a href="/product/@category.Url">
                    <div class="card me-3 shadow p-3 mb-5 bg-white rounded">
                        <div class="card-body">
                            <h5 class="card-title">@category.Name</h5>
                        </div>
                    </div>
                </a>
            </div>
        }*@
    </div>

</div>


@section Css{
    <link rel="stylesheet" href="/modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/modules/owl.carousel/dist/assets/owl.theme.default.min.css">
}

@section Scripts
    {
    <script src="/modules/owl.carousel/dist/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function () {

            var sync1 = $("#sync1");
            var sync2 = $("#sync2");
            var slidesPerPage = 5; //globaly define number of elements per page
            var syncedSecondary = true;

            sync1.owlCarousel({
                items: 1,
                slideSpeed: 2000,
                autoplayHoverPause: true,
                nav: false,
                autoplay: true,
                dots: true,
                loop: true,
                rtl: true,
                responsiveRefreshRate: 200,
                navText: ['<i class="catch fa fa-angle-right"></i>', '<i class="catch fa fa-angle-left"></i>'],
            }).on('changed.owl.carousel', syncPosition);

            sync2
                .on('initialized.owl.carousel', function () {
                    sync2.find(".owl-item").eq(0).addClass("current").children().children().addClass("border-danger");
                })
                .owlCarousel({
                    items: slidesPerPage,
                    dots: false,
                    nav: false,
                    smartSpeed: 200,
                    slideSpeed: 500,
                    slideBy: 1, //alternatively you can slide by 1, this way the active slide will stick to the first item in the second carousel
                    rtl: true,
                    responsiveRefreshRate: 100
                }).on('changed.owl.carousel', syncPosition2);

            function syncPosition(el) {
                //if you set loop to false, you have to restore this next line
                //var current = el.item.index;

                //if you disable loop you have to comment this block
                var count = el.item.count - 1;
                var current = Math.round(el.item.index - (el.item.count / 2) - .5);

                if (current < 0) {
                    current = count;
                }
                if (current > count) {
                    current = 0;
                }

                //end block

                sync2
                    .find(".owl-item")
                    .removeClass("current")
                    .eq(current)
                    .addClass("current");

                sync2
                    .find(".owl-item").children().children().removeClass("border-danger").
                    eq(current).addClass("border-danger");
                    

                var onscreen = sync2.find('.owl-item.active').length - 1;
                var start = sync2.find('.owl-item.active').first().index();
                var end = sync2.find('.owl-item.active').last().index();

                if (current > end) {
                    sync2.data('owl.carousel').to(current, 100, true);
                }
                if (current < start) {
                    sync2.data('owl.carousel').to(current - onscreen, 100, true);
                }
            }

            function syncPosition2(el) {
                if (syncedSecondary) {
                    var number = el.item.index;
                    sync1.data('owl.carousel').to(number, 100, true);
                }
            }

            sync2.on("click", ".owl-item", function (e) {
                //e.preventDefault();
                var number = $(this).index();
                sync1.data('owl.carousel').to(number, 300, true);
            });
        });
    </script>
}

