@model LoginModel
<h1>Login</h1>
<form asp-controller="Account" asp-action="Login" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl"/>
    <div class="form-group">
        <label for="UserName">UserName</label>
        <input asp-for="UserName" value="@Model.UserName" class="form-control">
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Password">Password</label>
        <input asp-for="Password" value="@Model.Password" class="form-control"></input>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button class="btn btn-primary" type="submit">Login</button>
    <a href="/account/forgetpassword" class="btn btn-primary">Forget Password</a>

</form>

@section Scripts
    {
    <script src="/modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}